{% extends 'pages/static/base.html' %}
{% block title %}
Home
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">Bem-vindo ao GearVault</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Seu sistema de gerenciamento de estoque e aquisições de componentes eletrônicos. Acesse
                as funcionalidades abaixo para começar.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="produtos/" class="btn btn-primary btn-lg px-4 gap-3">Gerenciar Estoque</a>
                <a href="#" class="btn btn-outline-secondary btn-lg px-4">Registrar Nova Compra</a>
            </div>
        </div>
    </div>

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
        </div>
    </div>
</div>
{% endblock %}